.footer {
  background-color: #ffffff;
  color: #000000;
  padding: 20px 0;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 50px;
  text-align: left;
}

.footer-section {
  flex: 1;
  padding: 10px;
}

.footer-section h1,
.footer-section h2 {
  margin-bottom: 10px;
}

.footer-section p {
  margin-bottom: 20px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #000000;
  text-decoration: none;
}
.social-icons a {
  background-color: #5d50c6;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  color: #ffffff;
  font-size: 16px;
  width: 30px;
  height: 30px;
  line-height: 40px;
  text-align: center;
}

.footer-bottom {
  border-top: 1px solid #000000;
  padding: 10px 0;
  text-align: center;
  margin-top: 20px;
}
