.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 40px;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

.auth-buttons {
  display: flex;
}

.auth-buttons .login,
.auth-buttons .signup {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.auth-buttons .login {
  background-color: transparent;
  color: #000000;
  font-weight: 300;
}

.auth-buttons .signup {
  border-radius: 10%;
  background-color: #6c63ff;
  color: #fff;
}
