.key-features {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  background: #fff;
}

.key-features-content {
  display: flex;
  max-width: 1200px;
  width: 100%;
}

.key-features-text {
  flex: 1;
  padding: 20px;
}

.key-features-text h3 {
  color: #ff6f61;
  margin-bottom: 10px;
}

.key-features-text h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.key-features-text p {
  font-size: 1rem;
  margin-bottom: 40px;
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.feature-item {
  display: flex;
  align-items: center;
  padding: 20px;
  background: #f8f9fa;
  border-radius: 10px;
}

.feature-item img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.feature-item h4 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.feature-item p {
  font-size: 0.9rem;
}

.key-features-images {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

.key-features-images .image-1,
.key-features-images .image-2 {
  width: 693px;
  height: 869px;
  gap: 0px;
  opacity: 0px;
}

/* .key-features-images .image-1 {
  width: 70%;
}

.key-features-images .image-2 {
  width: 50%;
} */
